html, body {
    margin: 0px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    flex-direction: column;
}

.board {
    display: grid;
    width: 399px;
    height: 399px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "a b c" "d e f" "g h i";
    text-align: center;
    justify-self: center;
    font-size: 40px;
    gap: 3px;
}

@media (max-width: 550px) {
    .board {
        height: 330px !important;
        width: 330px !important;
    }
}

.cell {
    border: 2px solid black;
    background: transparent;
}

#start {
    font-weight: bold;
    font-size: 22px;
    margin-top: 9px;
    background: rgb(236, 182, 101);
    width: 75px;
    height: 25px;
    line-height: 25px;
    border-radius: 10%;
    border: 1px solid black;
    text-align: center;
}